@use '../../styles/_variables.scss' as *;

.skeletonCard {
  display: flex;
  flex-direction: column;
}

.skeletonImage {
  height: 100% !important;
  aspect-ratio: 3 / 4;
  border-radius: 8px;
  margin-bottom: 0.25rem;
  background-color: var(--bg-sheen) !important;
}

.skeletonLine1 {
  font-size: var(--p3-size) !important;
  line-height: 1.9 !important;
  background-color: var(--bg-sheen) !important;
  // margin-top: -0.2rem !important;

  &:last-of-type {
    width: 75% !important;
  }
}

.skeletonLine2 {
  font-size: var(--p3-size) !important;
  line-height: 1.9 !important;
  background-color: var(--bg-sheen) !important;
  margin: 0 !important;
  width: 75% !important;
  margin-top: -0.4rem !important;
}
